html{
    background-image: url("comp.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
}
body{
    background-color: black;
    background-size: cover;
    opacity: 90%; /*This determines the opacity of my body*/
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
}

body img{
    width: 200px;
    border-radius: 50%;
}

h1, h2{
    margin-left: 30px;
    color: white;
}

nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

nav a{
    color: white;
    padding: 10px;
}

#quote{
    display: flex;
    justify-content: center;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 25% 20px 25%;
}

.social-icon{

    height: 50px;
} 
