*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

article{
    padding: 0 5%;
}

#main-content{
    min-height: 80vh;
}

body{
    background-color: whitesmoke;
    background-size: cover;
    opacity: 80%; /*This determines the opacity of my body*/
    margin-left: 20%;
    margin-right: 20%;
    color: black; 
    min-height: 100vh;
}


.contributions{
    display: flex;
    justify-content: center;
    margin: 8%;
}

.experience{
    padding: 0 5%;
}

html{
    background-image: url("comp.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}


h1, h2, h3{
    margin-left: 5%;
}

nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

nav a{
    color: black;
    padding: 10px;
}

#profile-pic{
    width: 200px;
    border-radius: 50%;
    margin: 20px;
}

.project{
    height: 200px;
}

#quote{
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: flex-end;
}

.social-icon{
    height: 20px;
    padding: 10px;
    margin-right: 1rem;
}

@media screen and (max-width: 750px) {

    body{
        background-color: whitesmoke;
        background-size: cover;
        opacity: 80%; /*This determines the opacity of my body*/
        margin-left: 0;
        margin-right: 0;
        color: black; 
        min-height: 100vh;
    }
    
    #profile-pic{
        width: 100px;
        border-radius: 50%;
        margin: 20px;
    }

    .project{
        height: 100px;
    }

    .social-icon{
        height: 15px;
        padding: 10px;
        margin-right: 1rem;
    }
}