/* .about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
} */

article{
    padding: 10%;
}

#main-content{
    min-height: 80vh;
}

body{
    background-color: black;
    background-size: cover;
    opacity: 85%; /*This determines the opacity of my body*/
    margin-left: 20%;
    margin-right: 20%;
    color: white; 
    min-height: 100vh;
}


.contributions{
    display: flex;
    justify-content: center;
}

html{
    background-image: url("comp.jpg");
    background-size:cover;
    background-repeat: no-repeat;


h1, h2, h3{
    margin-left: 30px;
}

nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

nav a{
    color: white;
    padding: 10px;
}

p{
    padding:20px 5%
}


#profile-pic{
    width: 200px;
    border-radius: 50%;
    margin: 20px;
}

.project{
    height: 150px;
    margin: 5%;
}

#quote{
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
}

.social-icon{
    height: 20px;
    padding: 10px;
}
